# https://www.freedesktop.org/software/systemd/man/systemd.service.html
# tutorial: http://www.diegoacuna.me/how-to-run-a-script-as-a-service-in-raspberry-pi-raspbian-jessie/

[Unit]
Description=Smartsettia client
After=multi-user.target

[Service]
User=smartsettia
Group=smartsettia
Type=simple
ExecStart=/usr/bin/python3 /home/pi/smartsettia-unit/script/main.py
Restart=always
RestartSec=5s
WatchdogSec=62s
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
